#map-1-2 {
	background: url("/availableComputers/images/1-2.gif") no-repeat;
	width: 576px;
	height: 756px;
}

#halfRound1 {
	position: absolute;
	top: 573px;
	left: 267px;
}

#halfRound2 {
	position: absolute;
	top: 533px;
	left: 267px;
}

#halfRound3 {
	position: absolute;
	top: 480px;
	left: 267px;
}

#halfRound4 {
	position: absolute;
	top: 438px;
	left: 267px;
}

#halfRound5 {
	position: absolute;
	top: 391px;
	left: 267px;
}

#halfRound6 {
	position: absolute;
	top: 352px;
	left: 267px;
}

#halfRound7 {
	position: absolute;
	top: 308px;
	left: 267px;
}

#halfRound8 {
	position: absolute;
	top: 268px;
	left: 267px;
}
