#map-1-ll {
	background: url("/availableComputers/images/1-ll.gif") no-repeat;
	width: 549px;
	height: 557px;
}

#frontTriple1 {
	position: absolute;
	top: 324px;
	left: 152px;
}

#frontTriple2 {
	position: absolute;
	top: 324px;
	left: 189px;
}

#frontTriple3 {
	position: absolute;
	top: 324px;
	left: 333px;
}

#frontTriple4 {
	position: absolute;
	top: 324px;
	left: 370px;
}

#backTable1 {
	position: absolute;
	top: 179px;
	left: 150px;
}

#backTable2 {
	position: absolute;
	top: 204px;
	left: 192px;
}

#backTable3 {
	position: absolute;
	top: 130px;
	left: 150px;
}

#backTable4 {
	position: absolute;
	top: 130px;
	left: 193px;
}

#classroom1 {
	position: absolute;
	top: 232px;
	left: 18px;
}

#classroom2 {
	position: absolute;
	top: 232px;
	left: 39px;
}

#classroom3 {
	position: absolute;
	top: 232px;
	left: 73px;
}

#classroom4 {
	position: absolute;
	top: 232px;
	left: 94px;
}

#classroom5 {
	position: absolute;
	top: 252px;
	left: 18px;
}

#classroom6 {
	position: absolute;
	top: 252px;
	left: 39px;
}

#classroom7 {
	position: absolute;
	top: 252px;
	left: 73px;
}

#classroom8 {
	position: absolute;
	top: 252px;
	left: 94px;
}

#classroom9 {
	position: absolute;
	top: 272px;
	left: 18px;
}

#classroom10 {
	position: absolute;
	top: 272px;
	left: 39px;
}

#classroom11 {
	position: absolute;
	top: 272px;
	left: 73px;
}

#classroom12 {
	position: absolute;
	top: 272px;
	left: 94px;
}

#classroom13 {
	position: absolute;
	top: 292px;
	left: 18px;
}

#classroom14 {
	position: absolute;
	top: 292px;
	left: 39px;
}

#classroom15 {
	position: absolute;
	top: 292px;
	left: 73px;
}

#classroom16 {
	position: absolute;
	top: 292px;
	left: 94px;
}

#map1 {
	position: absolute;
	top: 56px;
	left: 264px;
}