table.simple {
	width: 100%;
	border-width: 1px;
	border-spacing: 2px;
	border-style: outset;
	border-color: gray;
	border-collapse: collapse;
}

table.simple tr {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
}

table.simple td,
table.simple th {
	border-width: 1px;
	padding: 1px;
	border-style: inset;
	border-color: gray;
	background-color: white;
}


#computers_table input{
	width: 50px;
}

#computers_table .computer_name {
	width: 80px;
}

#computers_table .table_type {
	width: 90px;
}

#computers_table .table_name {
	width: 75px;
}
