#map-5 {
	background: url("/availableComputers/images/1-6.gif") no-repeat;
	width: 576px;
	height: 756px;
}

#halfRound1 {
	position: absolute;
	top: 610px;
	left: 252px;
}

#halfRound2 {
	position: absolute;
	top: 610px;
	left: 302px;
}

#halfRound3 {
	position: absolute;
	top: 559px;
	left: 266px;
}

#halfRound4 {
	position: absolute;
	top: 512px;
	left: 266px;
}

#halfRound5 {
	position: absolute;
	top: 290px;
	left: 266px;
}

#halfRound6 {
	position: absolute;
	top: 219px;
	left: 266px;
}
