#map-2 {
	background: url("../../images/dcl_1.gif") no-repeat;
	width: 576px;
	height: 756px;
}

#halfRound1 {
	position: absolute;
	top: 437px;
	left: 140px;
}

#halfRound2 {
	position: absolute;
	top: 437px;
	left: 178px;
}

#halfRound3 {
	position: absolute;
	top: 437px;
	left: 216px;
}

#halfRound4 {
	position: absolute;
	top: 437px;
	left: 338px;
}

#halfRound5 {
	position: absolute;
	top: 437px;
	left: 376px;
}

#halfRound6 {
	position: absolute;
	top: 437px;
	left: 414px;
}

#halfRound7 {
	position: absolute;
	top: 329px;
	left: 264px;
}

#halfRound8 {
	position: absolute;
	top: 291px;
	left: 264px;
}

#halfRound9 {
	position: absolute;
	top: 239px;
	left: 414px;
}

#halfRound10 {
	position: absolute;
	top: 239px;
	left: 376px;
}

#halfRound11 {
	position: absolute;
	top: 239px;
	left: 178px;
}

#halfRound12 {
	position: absolute;
	top: 239px;
	left: 140px;
}

#halfRound13 {
	position: absolute;
	top: 239px;
	left: 216px;
}

#halfRound14 {
	position: absolute;
	top: 239px;
	left: 338px;
}

