#map-1 {
	background: url("/availableComputers/images/1-ll.gif") no-repeat;
	width: 576px;
	height: 756px;
}

#frontTriple1 {
	position: absolute;
	top: 437px;
	left: 164px;
}

#frontTriple2 {
	position: absolute;
	top: 438px;
	left: 204px;
}

#frontTriple3 {
	position: absolute;
	top: 438px;
	left: 346px;
}

#frontTriple4 {
	position: absolute;
	top: 438px;
	left: 384px;
}

#backTable1 {
	position: absolute;
	top: 293px;
	left: 164px;
}

#backTable2 {
	position: absolute;
	top: 319px;
	left: 206px;
}

#backTable3 {
	position: absolute;
	top: 244px;
	left: 164px;
}

#backTable4 {
	position: absolute;
	top: 244px;
	left: 206px;
}

#classroom1 {
	position: absolute;
	top: 346px;
	left: 32px;
}

#classroom2 {
	position: absolute;
	top: 346px;
	left: 53px;
}

#classroom3 {
	position: absolute;
	top: 346px;
	left: 87px;
}

#classroom4 {
	position: absolute;
	top: 346px;
	left: 108px;
}

#classroom5 {
	position: absolute;
	top: 366px;
	left: 32px;
}

#classroom6 {
	position: absolute;
	top: 366px;
	left: 53px;
}

#classroom7 {
	position: absolute;
	top: 366px;
	left: 87px;
}

#classroom8 {
	position: absolute;
	top: 366px;
	left: 108px;
}

#classroom9 {
	position: absolute;
	top: 386px;
	left: 32px;
}

#classroom10 {
	position: absolute;
	top: 386px;
	left: 53px;
}

#classroom11 {
	position: absolute;
	top: 386px;
	left: 87px;
}

#classroom12 {
	position: absolute;
	top: 386px;
	left: 108px;
}

#classroom13 {
	position: absolute;
	top: 406px;
	left: 32px;
}

#classroom14 {
	position: absolute;
	top: 406px;
	left: 53px;
}

#classroom15 {
	position: absolute;
	top: 406px;
	left: 87px;
}

#classroom16 {
	position: absolute;
	top: 406px;
	left: 108px;
}

#map1 {
	position: absolute;
	top: 171px;
	left: 277px;
}
