#map-6 {
	background: url("/availableComputers/images/evl_g.gif") no-repeat;
	width: 576px;
	height: 756px;
}

#halfRound1 {
	position: absolute;
	top: 479px;
	left: 245px;
}

#halfRound2 {
	position: absolute;
	top: 418px;
	left: 245px;
}
