#map-7 {
	background: url("/availableComputers/images/evl_1.gif") no-repeat;
	width: 576px;
	height: 756px;
}

#carrel1 {
	position: absolute;
	top: 466px;
	left: 187px;
}

#carrel2 {
	position: absolute;
	top: 416px;
	left: 187px;
}

#carrel3 {
	position: absolute;
	top: 378px;
	left: 187px;
}

#carrel4 {
	position: absolute;
	top: 466px;
	left: 230px;
}

#carrel5 {
	position: absolute;
	top: 416px;
	left: 230px;
}

#carrel6 {
	position: absolute;
	top: 378px;
	left: 230px;
}

#round1 {
	position: absolute;
	top: 436px;
	left: 390px;
}

#round2 {
	position: absolute;
	top: 358px;
	left: 390px;
}

#round3 {
	position: absolute;
	top: 358px;
	left: 313px;
}

#round4 {
	position: absolute;
	top: 279px;
	left: 313px;
}

#classroom1 {
	position: absolute;
	top: 474px;
	left: 498px;
}

#classroom2 {
	position: absolute;
	top: 474px;
	left: 535px;
}

#classroom3 {
	position: absolute;
	top: 497px;
	left: 498px;
}

#classroom4 {
	position: absolute;
	top: 497px;
	left: 535px;
}

#classroom5 {
	position: absolute;
	top: 519px;
	left: 498px;
}

#classroom6 {
	position: absolute;
	top: 519px;
	left: 535px;
}

#classroom7 {
	position: absolute;
	top: 551px;
	left: 498px;
}

#classroom8 {
	position: absolute;
	top: 551px;
	left: 535px;
}

#classroom9 {
	position: absolute;
	top: 575px;
	left: 498px;
}

#classroom10 {
	position: absolute;
	top: 575px;
	left: 535px;
}

