.imgContainer {
	position: relative;
}


.leftHalfRound {
	height: 45px;
	width: 25px;
}
.leftHalfRound .s {
	position: absolute;
	top: 33px;
	left: 12px;
}

.leftHalfRound .sw {
	position: absolute;
	top: 26px;
	left: 3px;
}

.leftHalfRound .w {
	position: absolute;
	top: 17px;
	left: 0px;
}

.leftHalfRound .nw {
	position: absolute;
	top: 7px;
	left: 3px;
}

.leftHalfRound .n {
	position: absolute;
	top: 0px;
	left: 12px;
}

.leftHalfRound .i {
	position: absolute;
	top: 13px;
	left: 12px;
}


.rightHalfRound {
	height: 45px;
	width: 25px;
}
.rightHalfRound .s {
	position: absolute;
	top: 33px;
	left: 1px;
}

.rightHalfRound .se {
	position: absolute;
	top: 26px;
	left: 7px;
}

.rightHalfRound .e {
	position: absolute;
	top: 17px;
	left: 11px;
}

.rightHalfRound .ne {
	position: absolute;
	top: 7px;
	left: 7px;
}

.rightHalfRound .n {
	position: absolute;
	top: 0px;
	left: 1px;
}

.rightHalfRound .i {
	position: absolute;
	top: 13px;
	left: 0px;
}



.upperHalfRound {
	height: 25px;
	width: 45px;
}
.upperHalfRound .w {
	position: absolute;
	top: 12px;
	left: 0px;
}

.upperHalfRound .nw {
	position: absolute;
	top: 3px;
	left: 7px;
}

.upperHalfRound .n {
	position: absolute;
	top: 0px;
	left: 17px;
}

.upperHalfRound .ne {
	position: absolute;
	top: 3px;
	left: 26px;
}

.upperHalfRound .e {
	position: absolute;
	top: 12px;
	left: 33px;
}

.upperHalfRound .i {
	position: absolute;
	top: 12px;
	left: 13px;
}


.lowerHalfRound {
	height: 25px;
	width: 45px;
}
.lowerHalfRound .w {
	position: absolute;
	top: 1px;
	left: 0px;
}

.lowerHalfRound .sw {
	position: absolute;
	top: 7px;
	left: 7px;
}

.lowerHalfRound .s {
	position: absolute;
	top: 11px;
	left: 17px;
}

.lowerHalfRound .se {
	position: absolute;
	top: 7px;
	left: 26px;
}

.lowerHalfRound .e {
	position: absolute;
	top: 1px;
	left: 33px;
}

.lowerHalfRound .i {
	position: absolute;
	top: 0px;
	left: 13px;
}


.leftTriple{
	width: 30px;
	height: 30px;
}
.leftTriple .ul {
	position: absolute;
	top: 0px;
	left: 0px;
}

.leftTriple .ll {
	position: absolute;
	top: 15px;
	left: 0px;
}

.leftTriple .r {
	position: absolute;
	top: 4px;
	left: 16px;
}



.rightTriple{
	width: 30px;
	height: 30px;
}
.rightTriple .l {
	position: absolute;
	top: 3px;
	left: 0px;
}

.rightTriple .ur {
	position: absolute;
	top: 0px;
	left: 10px;
}

.rightTriple .lr {
	position: absolute;
	top: 15px;
	left: 10px;
}



.upperTriple{
	width: 30px;
	height: 30px;
}
.upperTriple .l {
	position: absolute;
	top: 14px;
	left: 3px;
}

.upperTriple .ur {
	position: absolute;
	top: 0px;
	left: 15px;
}

.upperTriple .ul {
	position: absolute;
	top: 0px;
	left: 0px;
}



.lowerTriple{
	width: 30px;
	height: 30px;
}
.lowerTriple .u {
	position: absolute;
	top: 0px;
	left: 3px;
}

.lowerTriple .ll {
	position: absolute;
	top: 9px;
	left: 0px;
}

.lowerTriple .lr {
	position: absolute;
	top: 9px;
	left: 15px;
}


.sixTriple{
	width: 30px;
	height: 55px;
}
.sixTriple .n {
	position: absolute;
	top: 0px;
	left: 3px;
}

.sixTriple .ne {
	position: absolute;
	top: 8px;
	left: 15px;
}

.sixTriple .nw {
	position: absolute;
	top: 8px;
	left: 0px;
}

.sixTriple .s {
	position: absolute;
	top: 40px;
	left: 3px;
}

.sixTriple .se {
	position: absolute;
	top: 26px;
	left: 15px;
}

.sixTriple .sw {
	position: absolute;
	top: 26px;
	left: 0px;
}


.lowerClassroomTable{
	width: 22px;
	height: 12px;
}
.lowerClassroomTable .l {
	position: absolute;
	top: 0px;
	left: 1px;
}

.lowerClassroomTable .r {
	position: absolute;
	top: 0px;
	left: 11px;
}



.upperClassroomTable{
	width: 22px;
	height: 12px;
}
.upperClassroomTable .l {
	position: absolute;
	top: 0px;
	left: 1px;
}

.upperClassroomTable .r {
	position: absolute;
	top: 0px;
	left: 11px;
}


.fourCarrel{
	width: 22px;
	height: 20px;
}
.fourCarrel .nw {
	position: absolute;
	top: 0px;
	left: 0px;
}

.fourCarrel .ne {
	position: absolute;
	top: 0px;
	left: 11px;
}

.fourCarrel .sw {
	position: absolute;
	top: 10px;
	left: 0px;
}

.fourCarrel .se {
	position: absolute;
	top: 10px;
	left: 11px;
}


.sixCarrel{
	width: 22px;
	height: 30px;
}
.sixCarrel .nw {
	position: absolute;
	top: 0px;
	left: 0px;
}

.sixCarrel .ne {
	position: absolute;
	top: 0px;
	left: 11px;
}

.sixCarrel .w {
	position: absolute;
	top: 10px;
	left: 0px;
}

.sixCarrel .e {
	position: absolute;
	top: 10px;
	left: 11px;
}

.sixCarrel .sw {
	position: absolute;
	top: 20px;
	left: 0px;
}

.sixCarrel .se {
	position: absolute;
	top: 20px;
	left: 11px;
}


.round{
	width: 35px;
	height: 32px;
}
.round .nw {
	position: absolute;
	top: 0px;
	left: 7px;
}

.round .w {
	position: absolute;
	top: 9px;
	left: 0px;
}

.round .sw {
	position: absolute;
	top: 19px;
	left: 7px;
}

.round .se {
	position: absolute;
	top: 19px;
	left: 18px;
}

.round .e {
	position: absolute;
	top: 9px;
	left: 23px;
}

.round .ne {
	position: absolute;
	top: 0px;
	left: 18px;
}


.evlclassroom{
	width: 30px;
	height: 10px;
}
.evlclassroom .l {
	position: absolute;
	top: 0px;
	left: 0px;
}

.evlclassroom .m {
	position: absolute;
	top: 0px;
	left: 9px;
}

.evlclassroom .r {
	position: absolute;
	top: 0px;
	left: 18px;
}





.buildingNameInput {
	width: 200px;
}

.floorCodeInput {
	width: 25px;
}

.floorNameInput {
	width: 150px;
}